<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    Welcome to the homepage!!!

    <h4>What color is the sky on a clear day?</h4>
    <form action="/result" method="POST">
      <input type="text" name="color" />
      <button>Go</button>
    </form>

    <% if (isRaining) { %>
    <p>It is raining.</p>
    <% } else { %>
    <p>It is not raining.</p>
    <% } %>
    
    <% pets.forEach(pet => { %>
    <li><%= pet.name %> (<%= pet.species %>)</li>
    <% }) %>
  </body>
</html>
